.link-card {
  background: tomato;
  flex-basis: 49.8%;
  border: 1px solid white;
  height: calc((100vh - 5px)/3);
  display: flex;
  justify-content: center;
  align-items: center;
 
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

