.file-list {
  height: 50px;
  margin-left: 53px;
  li {
    border: 1px solid #cccccc;
    border-top: none;
    &.active {
      background-color: #cccccc;
    }
    &:last-child {
      border-left: none;
    }
  }
}

@media only screen and (max-width: 767px)  {
  .file-list {
    padding: 0 40px;
    margin: unset;
    li {
      &:last-child {
        border: 1px solid #cccccc;
      }
    }
  }
}
