@charset "utf-8";
@import "bootstrap";

body {
  background-color: #3a3a3a;
  color: #afafaf;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
  "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
  "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
  "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

pre {
  color: #afafaf;
  margin: 50px;
  margin-bottom: 0;
  white-space: pre-wrap;
  background-color: #3a3a3a;
  text-align: left;
  border-width: 1px 0 0 0;
  border-radius: 0;
}

.card-container {
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;

  -webkit-flex-flow: row wrap;
}
// Custom page styles
@import 'card-link';
@import 'project-card';
@import 'navbar';
