@charset "utf-8";
@import "bootstrap";

body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
  "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
  "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
  "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

.card-container {
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;

  -webkit-flex-flow: row wrap;
}
// Custom page styles
@import 'card-link';
