/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
    background: rgb(32, 132, 192);
    height: 100px;
    text-align: center !important;
}
h1, h3, h4, h5, p {
    margin-bottom: 22px;
}
h1 {
    padding-top: 20px;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: rgb(192, 192, 192);
    font-weight: 200;
}
h2 {
    font-size: 24px;
    line-height: 44px;
}
h3 {
    font-size: 21px;
}
.input-boxes {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 2rem;
}
.input-boxes:focus {
    border-bottom: 1px solid rgb(0, 128, 128);
    box-shadow: 0 1px 0 0 rgb(0, 255, 255);
}
.input-boxes:invalid {
    border-bottom: 1px solid rgb(255, 0, 0);
    box-shadow: 0 1px 0 0 rgb(255, 0, 0);
}
.narrow {
    width: 54px;
}
.form {
    margin: 5px 20px;
    display: block;
    /* float: right; */
    width: 80%;
}
.equator {
}
