<a
  href="<%= link_url %>"
  class="link-card <%= link_class %>"
  target="_blank"
  rel="noopener noreferrer"
>
  <img src="/images/<%= link_image %>.png" alt="" width="200" height="150" decoding="async">
  <span class="link-card__label"><%= link_text %></span>
  <span class="visually-hidden">(opens in new tab)</span>
</a>
