<ul class="nav navbar-nav file-list">
  <li class="<%= current_page == 'index' ? 'active' : '' %>"><a href="/">index.js</a></li>
  <li class="<%= current_page == 'app' ? 'active' : '' %>"><a href="/app">app.js</a></li>
</ul>
