<ul class="nav navbar-nav file-list">
  <li class="<%= current_page == 'index' ? 'active' : '' %>"><a href="/">index.js</a></li>
  <li class="<%= current_page == 'app' ? 'active' : '' %>"><a href="/app">app.js</a></li>
  <li onclick="window.open('https://drive.google.com/file/d/0B_1p1_Oji3GAVVJ4S3F1TU1vY3M/view?usp=sharing')"><a> resume.pdf </a></li>
</ul>
