---
title: Roshan's site
---

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= partial(:navbar, :locals => { :current_page => "app" }) %>
      <pre>
<code>
var projects = [
  {
    name: 'saasgrids',
    domain: 'Integration platform'
    technologiesUsed: [
      'reactjs',
      'golang',
      'redis',
    ],
  },
  {
    name: 'Aconex Field',
    domain: 'Construction',
    technologiesUsed: [
      'Angularjs',
      'PostgreSQL',
      'Cordova'
    ],
  },
  {
    name: 'First Contributions',
    domain: 'Open source',
    technologiesUsed: [
      'markdown',
      'slack',
      'reactjs'
    ],
  },
  {
    name: 'Deliver it',
    domain: 'Continuous delivery',
    technologiesUsed: [
      'Dashing',
      'google apps scripts',
      'Slack'
    ],
  }
];
      </code>
      </pre>
    </div>
    <div class="col-md-6 col-sm-12 card-container">
      <%= partial(:project_card, :locals => { :project_url => "http://saasgrids.com", :project_text => "saasgrids", :project_class => "saasgrids" , :project_image => "saasgrids-icon" }) %>
      <%= partial(:project_card, :locals => { :project_url => "https://roshanjossey.github.io/first-contributions/", :project_text => "First Contributions", :project_class => "first-contributions" , :project_image => "first-contribution-icon" }) %>
    </div>
  </div>
</div>
