---
title: Roshan's site
---

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= partial(:navbar, :locals => { :current_page => "app" }) %>
      <pre>
<code>
var projects = [
  {
    name: 'Aconex Field',
    domain: 'Construction',
    technologiesUsed: [
      Angularjs,
      PostgreSQL,
      eventmachine,
      Cordova
    ],
  },
  {
    name: 'First Contributions',
    domain: 'Open source',
    technologiesUsed: [
      markdown,
      slack,
      reactjs
    ],
  },
  {
    name: 'Deliver it',
    domain: 'Continuous delivery',
    technologiesUsed: [
      Dashing,
      google apps scripts,
      Slack
    ],
  },
  {
    name: 'GitHub battle',
    domain: 'Game'
    technologiesUsed: [
      reactjs,
      bootstrap,
    ],
  }
];
      </code>
      </pre>
    </div>
    <div class="col-md-6 col-sm-12 card-container">
      <%= partial(:project_card, :locals => { :project_url => "https://github.com/roshanjossey/first-contributions", :project_text => "First Contributions", :project_class => "first-contributions" , :project_image => "first-contribution-icon" }) %>
      <%= partial(:project_card, :locals => { :project_url => "https://roshanjossey.github.io/github-battle", :project_text => "Github Battle", :project_class => "github-battle", :project_image => "github-battle-icon"  }) %>
    </div>
  </div>
</div>
