---
title: Roshan's site
---

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>
        Hey this is just a div
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>
        This is where we put the links
      </p>
      <%= partial(:card_link, :locals => { :link_url => "https://github.com/roshanjossey", :link_text => "GitHub", :link_class => "github"  }) %>
      <%= partial(:card_link, :locals => { :link_url => "http://stackoverflow.com/users/3951782/sudo-bangbang", :link_text => "Stack Overflow", :link_class => "github" }) %>
      <%= partial(:card_link, :locals => { :link_url => "https://medium.com/@roshanjossey", :link_text => "Medium", :link_class => "github" }) %>
      <%= partial(:card_link, :locals => { :link_url => "https://www.linkedin.com/in/roshan-jossey-b00989a3/", :link_text => "Linkedin", :link_class => "github" }) %>
    </div>
  </div>
</div>
